/* bootstrap containers */
$extra-small: 576px; /* 以下 */
$small: 576px;
$medium: 768px;
$large: 992px;
$x-large: 1200px;
$xx-large: 1400px;

$gray: #aaaaaa;
$danger: #f56c6c;
$blue: #409eff;
$white: #ffffff
/* z-index */
